Django
psycopg2-binary
djangorestframework
https://github.com/django-json-api/django-rest-framework-json-api/archive/master.zip
# djangorestframework-jsonapi
dj-rest-auth[with_social]
django-bootstrap4
django-allauth
django-cors-headers
drf-spectacular
django-filter
django_q
Pillow
redis
whitenoise[brotli]
sentry-sdk
ptvsd
django-debug-toolbar
